@import "../../vars";

.Home {
  &__feed_title {
    float: left;
    margin-top: .2rem !important;
  }

  &__feed_badge {
    span {
      background-color: $primary !important;
      color: white !important;
    }
  }

  &__category_chip {
    margin-top: .7rem !important;
    margin-bottom: .7rem !important;
    margin-left: 0.3rem !important;
    float: right !important;

    &_black {
      span {
        color: black !important;
      }
    }

    &_white {
      span {
        color: white !important;
      }
    }
    span {
      font-size: 12px !important;
      line-height: 25px !important;
    }
  }

  &__table {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

    > table {
      border-radius: 5px;
      background-color: white;
    }
  }

  &__button {
    float: left;
    button {
      background-color: $primary !important;
    }
    margin-right: .3rem;

    :hover {
      background-color: $secondary !important;
    }
  }

  &__buttons {
    display: table;
    width: 100%;
  }

  &__search {
    float: right;
  }

  &__feedList {
    padding: 0px !important;
  }

  &__feedListItem {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 20px !important;
  }

  &__feedListUnread {
    background-color: #39b1c6 !important;
    span {
      color: white !important;
    }
  }
  &__feedOption {
    font-size: 15px;
    opacity: .87;
  }

  &__timeSelect {
    width: 50% !important;

    label {
      padding-left: 25px;
    }

    > div > div {
      padding-left: 20px;
      width: unset !important;
    }
  }

  &__timezoneSelect {
    width: 50% !important;
  }
}
