.Subscriptions {
  &__table {
    width: 95%;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;

    table {
      border-radius: 5px;
      background-color: white;
    }
  }

  &__buttons {
    margin-bottom: 10px;
  }

  &__status {
    span {
      font-size: 12px !important;
      line-height: 25px !important;
    }
  }

  &__message {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bbdefb;
    color: #0d47a1;
  }

  &__feeds {
    white-space: normal !important;
  }

  &__time {
    white-space: normal !important;
  }
}
